# This script will carry out following steps:Â¶
1. If-statement_1
2. If-statement-2
3. If-statement-3
4. Task 4.7

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 1. Importing Dataframe

In [2]:
# creating path shortcut:
path=r'/Users/parvinrahimi/Desktop/Data/Data Immersion/Achievement 4/TASK 3/06-2023 Instacart Basket Analysis 9.46.07 AM/01 Project Management'

In [3]:
# importing dataframe
df_orders_products_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
# creating a smaller subset
df = df_orders_products_merged[:1000000]

In [7]:
df.shape

(1000000, 18)

In [8]:
df.head()

,Unnamed: 0_x,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

## 1. If Statement 1

In [15]:
#define a new function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

In [16]:
# apply function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/2m/x4ncpd5d6zn4gz7_m6f16nww0000gn/T/ipykernel_4410/2561668094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [17]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [18]:
# most expensive product within the subset
df['prices'].max()

14.8

## 2. If Statement 2

In [19]:
# if statement using loc()
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/2m/x4ncpd5d6zn4gz7_m6f16nww0000gn/T/ipykernel_4410/3465115858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [23]:
# running the function on the entire dataframe
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High_range product'

In [25]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid_range product'

In [27]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low_range Product'

In [28]:
df_orders_products_merged['price_range_loc'].value_counts(dropna=False)

Mid_range product     21860860
Low_range Product     10126321
High_range product      417678
Name: price_range_loc, dtype: int64

In [29]:
df_orders_products_merged.head()

,Unnamed: 0_x,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid_range product
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid_range product
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid_range product
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid_range product
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid_range product

## 3. If Statement 3

In [31]:
# which day most orders take place?
df_orders_products_merged['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [32]:
# create a new column 'busiest day' and define it using for-loops
result = []

for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [34]:
# Add this column to dataframe
df_orders_products_merged['busiest_day'] = result

In [35]:
df_orders_products_merged['busiest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## 4. Task 4.7

In [42]:
# Q.2: create a new column for busiest days (plural)
result_2 = []
for value in df_orders_products_merged['orders_day_of_week']:
    if value == 0 or value == 1:
        result_2.append('Busiest days')
    elif value ==3 or value == 4:
        result_2.append('Least busiest days')
    else:
        result_2.append('Regularly busy')

In [43]:
# add the new column as 'Busiest_days' to the dataframe
df_orders_products_merged['Busiest_days'] = result_2

In [44]:
# Q3. checking the values of the new column
df_orders_products_merged['Busiest_days'].value_counts(dropna=False)

Regularly busy        12916111
Busiest days          11864412
Least busiest days     7624336
Name: Busiest_days, dtype: int64

### the values of the 'busiest days' and 'least busiest days' are doubled and the value of'regularly busy' has almost halved.

In [46]:
# identifying busiest hour of day
df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

### I decided to divde the total orders in a day into 3 categories: total orders over and equal to 2000000, less than and equal to 1000000 , and everything btw 1000000 and 2000000

In [65]:
# Q.4 create new column to assign busiest hour of the day
result_3 = []
for value in df_orders_products_merged['order_hour_of_day']:
  if value in [9,10,11,12,13,14,15,16,17]: 
    result_3.append('Most_orders')
  elif value in [8,18,19]: 
    result_3.append('Average_orders')
  else:
    result_3.append('Fewest_orders')

In [66]:
# add column as 'busiest_period_of_day'
df_orders_products_merged['busiest_period_of_day'] = result_3

In [67]:
# Q5. checking the frequencies of the new column
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna =False)

Most_orders       23205725
Average_orders     4612925
Fewest_orders      4586209
Name: busiest_period_of_day, dtype: int64

In [78]:
# saving dataframe as Pickle
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_last.pkl'))