# Merging Intacart Data
1. Importing datafrmaes
2. Joinig dataframes
3. Exporting new Dataframe

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 1. Importing dataframes

In [2]:
# import dataframe
path=r'/Users/parvinrahimi/Desktop/Data/Data Immersion/Achievement 4/TASK 3/06-2023 Instacart Basket Analysis 9.46.07 AM/01 Project Management'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data','4.3_orders_products', 'order_products__prior.csv') , index_col = False)

In [4]:
df_ords_checked = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv') , index_col = False)

In [5]:
# ckecking the dataframes
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_checked.head()

,Unnamed: 0,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [7]:
# checking the size of both dataframes
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords_checked.shape

(3421083, 9)

## 2. joing dataframes

In [9]:
# inner joing dataframes
df_merged_large = df_ords_checked.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [11]:
# Test merge
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## 3. Exporting new Dataframe

In [12]:
# exporting as csv
df_merged_large.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'))

In [13]:
# exporting as pkl
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))