# This script will carry out following steps:
1. Importing datafrmaes
2. Joinig dataframes 
3. Exporting new Dataframe

In [5]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 1. importing Dataframes

In [6]:
# importing dataframes
path=r'/Users/parvinrahimi/Desktop/Data/Data Immersion/Achievement 4/TASK 3/06-2023 Instacart Basket Analysis 9.46.07 AM/01 Project Management'

In [7]:
#importing df_ords_combined as .pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
#importing df_products_checked as .csv
df_products_checked = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv') , index_col = False)

In [9]:
# exporting df_products_checked as .pkl
df_products_checked.to_pickle(os.path.join(path, 'Prepared Data', 'products_checked.pkl'))

In [10]:
#importing df_products_ckecked as .pkl
df_products_checked = pd.read_pickle(os.path.join(path, 'Prepared Data', 'products_checked.pkl'))

In [11]:
# size of orders_products_combined
df_orders_products_combined.shape

(32434489, 13)

In [12]:
# size of products_checked
df_products_checked.shape

(49672, 6)

## 2. Merging Dataframes

In [13]:
# finding the identifier between the two dataframes
df_orders_products_combined.head()

,Unnamed: 0,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [14]:
# removing merge column to avoid the "valueerror"
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [15]:
df_orders_products_combined.head()

,Unnamed: 0,Row_Number,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_order_in_days,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0

In [16]:
df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## the identifier is: product_id

In [18]:
#inner joining both dataframes on product_id
df_merged_3 = df_orders_products_combined.merge(df_products_checked, on = 'product_id', indicator = True)

In [19]:
# confirming the results of merge
df_merged_3['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
# checking size of the merged dataframe
df_merged_3.shape

(32404859, 18)

## 3. Exporting new Dataframe

In [21]:
# exporting as .pkl
df_merged_3.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))